<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wedding Website</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

  <div class="topnav">
    <a class="active" href="#Home">Home</a>
    <a href="#Details">Details</a>
    <a href="#Registry">Registry</a>
    <a href="#RSVP">RSVP</a>
  </div>
        <img src="main_image.JPG" alt="Picture of Josh and Abby" align="center">
        <div class="jumbotron">
          <div align="center"
            <b>Josh + Abby: 2018</b>
          </div>

        </div>

        <footer class="footer">
            <p>&copy; Josh Humphrey, Software Engineer</p>
        </footer>

    </div>
</body>

</html>
